.container {
    display: grid;
    grid-template-columns: repeat(3, 200px) 1fr;
    /* grid-template-rows: 300px 300px; */
    /* grid-gap:25px; */
}
/* .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.item4 {
    grid-column-start: 4;
    grid-column-end: 6;
}
*/
.item6 {
    grid-column-start: 3;
    grid-column-end: 5;
}